.main-container {
  display: flex;
}
.credits-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.credit {
  margin-block-end: 15px;
  text-align: center;
}

.role {
  font-weight: 600;
}

@media screen and (max-width: 699px) {
  .separator {
    display: none;
  }

  .credit {
    max-width: 80%;
    margin-block-end: 15px;
  }

  .credit:first-child {
    margin-block-end: 30px;
  }
}

@media screen and (min-width: 700px) {
  .credit > div {
    display: inline-block;
  }

  .credit {
    max-width: 80%;
    margin-block-end: 30px;
  }
}
