@import url(https://fonts.googleapis.com/css?family=Space+Mono);

/* colours */
/* Accent Colour  rgb 225 199 92 
Complimentary Colour  rgb 43 116 116 */

html,
body {
  height: 100%;
}

body {
  font-family: "Space Mono", monospace;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

nav {
  width: 100vw;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
  width: 50%;
}

.nav-item:hover,
a:hover {
  color: rgb(43, 116, 116);
}

.archiveText {
  display: none;
}

.facilitationText {
  display: none;
}

footer {
  padding: 20px;
  /* position: fixed;
  bottom: 0; */
  flex-shrink: 0;
}
.page-title {
  text-align: center;
}

.main-container {
  margin: auto;
}

.partners-container {
  display: flex;
  justify-content: space-between;
}

.partner-item {
  flex-grow: 1;
  text-align: center;
  width: 33%;
}

.title-container {
  max-width: fit-content;
  margin-inline-start: 15px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.6em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(20, end) 1s 1 normal both,
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
