@import url(https://fonts.googleapis.com/css?family=Space+Mono);

/* colours */
/*  #ebce50
#357b82*/

html,
body {
  height: 100%;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a:hover {
  color: #357b82;
}

nav button {
  background: #000000;
  border: 1px solid transparent;
  border-radius: 13px;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
}

button:hover {
  background: #357b82;
  border: 1px solid transparent;
}

button a:hover {
  color: inherit;
}

/* HEADER  */

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  margin-block-end: 3rem;
}
.page-title {
  text-align: center;
  font-size: 4rem;
}

/* MAIN  */

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.main-container {
  margin: auto;
}

.description {
  text-align: center;
}

.nav-item {
  text-align: center;
  padding: 2rem;

  /* text-decoration: underline; */
}

/* .nav-item h2 {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  max-width: fit-content;
  margin: auto;
} */

.nav-item h2:hover {
  /* background: #357b82; */
  background: #000000;
  border: 1px solid transparent;
  color: white;
}

@media screen and (max-width: 699px) {
  body {
    font-size: 1.6rem;
  }
  nav {
    width: 100vw;
  }
  .title-container {
    margin-inline-start: 0;
    display: flex;
    justify-content: center;
  }
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  .nav-title {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 700px) {
  body {
    padding: 40px;
  }

  header {
    margin-block-end: 15px;
  }

  main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
  }

  nav {
    width: 100vw;
  }
  .nav-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
  }

  .nav-item {
    flex-grow: 1;
    width: 50%;
  }

  .nav-item > h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1080px) {
  body {
    padding: 20px;
    font-size: 1.7rem;
  }
}

/* DISPLAY DESCRIPTION TEXT */
.archiveText {
  display: none;
}

.facilitationText {
  display: none;
}

/* FOOTER */

footer {
  padding: 20px;
  flex-shrink: 0;
}

.footer-item.credits {
  font-size: 1.6rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
  /* margin: 0; */
}

footer > p {
  margin-block-end: 3rem;
}

.privacy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 700px) {
  footer {
    padding: 0 20px;
  }
}

/*TYPE WRITER - UNDER 799PX*/

.page-title.home {
  display: none;
}

.css-typing h1 {
  border-right: 0.6em solid black;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-size: 5.5vh;
}
.css-typing h1:nth-child(1) {
  width: 80vw;
  -webkit-animation: type 2s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type 2s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(2) {
  width: 7em;
  opacity: 0;
  -webkit-animation: type 3.5s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type2 2s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(3) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.6em solid black;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.6em solid black;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.6em solid black;
  }
  100% {
    opacity: 1;
    /*     border: none; */
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.6em solid black;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*TYPE WRITER - OVER 400PX*/

@media screen and (min-width: 800px) {
  .css-typing.mobile {
    display: none;
  }
  .page-title.home {
    display: inline;
    margin-inline-start: 15px;
    max-width: fit-content;
  }
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.6em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(20, end) 1s 1 normal both,
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
